@font-face {
  font-family: 'Netflix sans';
  src: url(./netflix-sans-font/NetflixSans-Light.otf) format('opentype'),
    url(./netflix-sans-font/NetflixSans-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Netflix sans';
  src: url(./netflix-sans-font/NetflixSans-Regular.otf) format('opentype'),
    url(./netflix-sans-font/NetflixSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Netflix sans';
  src: url(./netflix-sans-font/NetflixSans-Medium.otf) format('opentype'),
    url(./netflix-sans-font/NetflixSans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Netflix sans';
  src: url(./netflix-sans-font/NetflixSans-Bold.otf) format('opentype'),
    url(./netflix-sans-font/NetflixSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
